html{

}

body {
	font-family: sans-serif;
	font-size: 90%;
	color: #333;
	background: #fff;
	padding: 30px 30px 30px 40px;
}

a[href^="error:"]{background:red;color:white;}
div.flash{color:black;background:#FFF9D7;border:1px solid #E2C822;padding:1em;margin:1em 0;}
.error{padding-left:20px;}

a:hover,
a:focus
{
	text-decoration: none;
}

.cleaner{
	clear: both;
}

.floating-list-menu, 
.no-style-list
{
	margin:0;padding:0;
}
.floating-list-menu li{
	list-style:none;
	float:left;
	margin:0 15px 0 0px;
}
.no-style-list li{
	list-style:none;
}


#main{
	width: 600px;
	float: left;
	padding: 0 40px 0 0px;
}

#secondary{
	width: 300px;
	float: left;
	padding: 64px 0px 0 80px;
	font-size: 90%;
	line-height: 130%;
}


.post{
	margin-bottom: 70px;
}

.beep{
	margin-bottom: 50px;
}
.beep .info{
	color: #808080;
	margin-top: -10px;
}

#facebook-login-box{
	margin: 0 0 40px 0;
}

#twitter-login-box{
	margin: 0 0 40px 0;
}




